* {
    margin: 0;
    padding: 0;
}
/**
#logoarg {
    width: 175px;
    height:60px;
    object-fit: cover;
    margin:0 auto;
    padding:0 auto;
}

#logointi{
    width:250px;
    height: 60px;
    object-fit: cover;
    margin:0 ;
    padding:0 ;
}
**/

/**
.carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    .carousel-item-next,
    .active.carousel-item-right {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    }
    .carousel-item-prev,
    .active.carousel-item-left {
    -webkit-transform: translate3d(+100%, 0, 0 );
            transform: translate3d(+100%, 0, 0 );
    }
**/
.dropdown-content{
    right: 0;
}

.navbar-brand{
    position: relative;
}