html * {
    margin: 0;
    padding: 0;
}
/**
#logoarg {
    width: 175px;
    height:60px;
    object-fit: cover;
    margin:0 auto;
    padding:0 auto;
}

#logointi{
    width:250px;
    height: 60px;
    object-fit: cover;
    margin:0 ;
    padding:0 ;
}
**/

/**
.carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    .carousel-item-next,
    .active.carousel-item-right {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    }
    .carousel-item-prev,
    .active.carousel-item-left {
    -webkit-transform: translate3d(+100%, 0, 0 );
            transform: translate3d(+100%, 0, 0 );
    }
**/
.dropdown-content{
    right: 0;
}

.navbar-brand{
    position: relative;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
.sinmargen {
    margin: 0!important;
    padding: 0!important;
}

.max-width960{
    max-width: 960px;
    justify-content: center!important;
}
.positionRelative{
    position: relative;
    bottom: -25%;

}

.barra_altura{
    height: auto;
}
.margintop125{
    margin-top: 115px;
}
.logosEmpresa{
    bottom: 25%;
}