html * {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align: baseline;
}
section {
    background-color: aquamarine;
    margin:  auto;
    height: 500px;
    width: 500px;
    padding: 0;

}

#info{
    background-color: lavender;
    margin: auto;
    height: 250px;
    width: 500px;
    padding: 0;
}
section.h1{
    text-align: center;
    size: 16rem;
}